<!DOCTYPE html>
<html>
  <head>
    <title>Hookable</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css">
  </head>
  <body>
    <% @hook_deliveries.each do |delivery| %>
      <pre><code><%= delivery.pretty_payload %></code></pre>
    <% end %>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
